aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anthropic==0.31.2
anyio==4.4.0
async-timeout==4.0.3
attrs==23.2.0
Automat==24.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.4.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.3.5
cryptography==43.0.1
cssselect==1.2.0
-e git+https://github.com/Ahmed-Hereiz/customAgents.git@0c61dfe467220e90a1ed01f3496a543e9eab7fa7#egg=customAgents
dataclasses-json==0.6.7
defusedxml==0.7.1
distro==1.9.0
exceptiongroup==1.2.2
fastapi==0.112.0
filelock==3.15.4
frozenlist==1.4.1
fsspec==2024.6.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.66.2
grpcio-status==1.62.2
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.24.0
hyperlink==21.0.0
idna==3.7
importlib_metadata==8.5.0
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.2
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.3
langchain-anthropic==0.1.20
langchain-community==0.3.2
langchain-core==0.2.41
langchain-google-community==2.0.1
langchain-google-genai==1.0.7
langchain-openai==0.1.17
langchain-text-splitters==0.3.0
langsmith==0.1.134
litellm==1.48.0
lxml==5.3.0
MarkupSafe==3.0.1
marshmallow==3.22.0
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.51.2
opencv-python==4.10.0.84
orjson==3.10.6
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
parsel==1.9.1
pillow==10.4.0
playwright==1.47.0
Protego==0.3.1
proto-plus==1.24.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.5.2
pydantic_core==2.20.1
PyDispatcher==2.0.7
pydub==0.25.1
pyee==12.0.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
queuelib==1.7.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-file==2.1.0
requests-toolbelt==1.0.0
rpds-py==0.20.0
rsa==4.9
Scrapy==2.11.2
selenium==4.24.0
service-identity==24.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.31
starlette==0.37.2
tenacity==8.5.0
tiktoken==0.7.0
tldextract==5.1.2
tokenizers==0.19.1
tomli==2.0.2
tqdm==4.66.4
trio==0.26.2
trio-websocket==0.11.1
Twisted==24.7.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
w3lib==2.2.1
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==12.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.20.2
zope.interface==7.1.0
